<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Uni Portal</title>
</head>
<body>
    <h2>Lec Dashboard</h2>
</body>
</html> -->

{% load bootstrap3 %}
{% load static %}
{% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/portal.css' %}">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">HoxBox</a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-envelope fa-fw"></i>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>BBIT 1.1</strong>
                                <span class="pull-right text-muted">
                                    <em>Today</em>
                                </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>BCom 2.2</strong>
                                <span class="pull-right text-muted">
                                    <em>Yesterday</em>
                                </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>BSc.IT 3.1</strong>
                                <span class="pull-right text-muted">
                                    <em>Yesterday</em>
                                </span>
                            </div>
                            <div>Lorem Ipsum has been the industry's standard dummy text ever since the...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->

            </li>
            <li class="dropdown open">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-bell fa-fw"></i>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Submissions
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 min</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#">
                            <i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="tabs">

                <li>
                     <a class="active-menu" href="#home"><i style="padding-left:20px; margin-right:10px;" class="fa fa-dashboard"></i>&nbsp; Dashboard</a>
                </li>

                <li>
                    <a href="/">
                        <i style="padding-left:20px; margin-right:10px;" class="fa fa-desktop"></i>&nbsp; MODULES</a>
                </li>
                <li>
                        <a href="#units" data-toggle="collapse" aria-hidden="true"><i style="padding-left:20px; margin-right:10px;"class="fa fa-sitemap"></i> UNITS<span class="caret"></span></a>
                        <ul class="nav nav-second-level collapse" id="units">
                            {% for unit in units %}
                            <li>
                            <a href="#sub-units" data-toggle="tab" data-url="{%   url 'units' unit.id %}"  class="text-center">{{unit.code}}
                                <br/>{{unit.name}}</a>
                            </li>   
                            {% empty %}
                            <li class="center">
                                No Units Assigned. Contact Department Head.
                            </li>
                            {% endfor %}
                            <!-- <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="caret"></span></a>
                                <ul class="nav nav-third-level collapse">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                </ul>
                            </li> -->
                        </ul>
                    </li>
                <li>
                    <a href="/">
                        <i style="padding-left:20px; margin-right:10px;" class="fa fa-paper-plane"></i>&nbsp; SUBMISSIONS</a>
                </li>

                <li>
                    <a href="/">
                        <i style="padding-left:20px; margin-right:10px;" class="fa fa-qrcode"></i>&nbsp; GRADES</a>
                </li>
                <li>
                    <a href="/">
                        <i style="padding-left:20px; margin-right:10px;" class="fa fa-bar-chart-o"></i>&nbsp; REPORTS</a>
                </li>
                <li>
                    <a href="/">
                        <i style="padding-left:20px; margin-right:10px;" class="fa fa-graduation-cap"></i>&nbsp; ACADEMIC RECORDS </a>
                </li>

            </ul>
        </div>
    </nav>
    <div id="page-wrapper">
        <div id="page-inner">
            <div id="my-tabs"> 
                <div id="tab-content">
                    <!-- <div id="home" class="tab-pane active"></div> -->
                    <div id="profile" class="tab-pane active"></div>
                    <div id="sub-units" class="tab-pane active"></div>
                    <div id="tab4" class="tab-pane active"></div>
                    <div id="tab5" class="tab-pane active"></div>
                    <div id="project" class="tab-pane active"></div>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}
{% block scripts %}
  {% bootstrap_javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="external/jquery.ui.core.min.js"></script>
  <script type="text/javascript" src="external/jquery.ui.widget.min.js"></script>
  <script type="text/javascript" src="js/jquery.integralui.widget.min.js"></script>
  <script type="text/javascript" src="js/jquery.integralui.tabstrip.min.js"></script>
  <script type="text/javascript" src="{% static 'js/tabs.js' %}"></script>
  
{% endblock %}