{% load bootstrap3 %} 
{% load static %} 
{% block styles %} 
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/portal.css' %}">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> 
{% endblock %}
 {% block content %}
<div id="page-wrapper">

    <div class="tabs" id="myTabs">
        <div class="row">
            <div col-md-12>
                <h2 class="page-header">Lec Dashboard: {{unit.name}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="row with-nav-tabs">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-green">
                        <div class="panel-body">
                            <a href="#notes">
                                <i class="fa fa fa-file-text fa-5x"></i>
                                <h3>8,457</h3>
                        </div>
                        <div class="panel-footer back-footer-green">
                            NOTES
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-blue">
                        <div class="panel-body">
                                <a href="#assignments">
                            <i class="fa fa fa-tasks fa-5x"></i>
                            <h3>52,160 </h3>
                        </div>
                        <div class="panel-footer back-footer-blue">
                            ASSIGNMENTS
                        </div>
                    </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-red">
                        <div class="panel-body">
                                <a href="#cats">
                            <i class="fa fa fa-paw fa-5x"></i>
                            <h3>15,823 </h3>
                        </div>
                        <div class="panel-footer back-footer-red">
                            CATS
                        </div>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane active" id="notes">thissa notes</div>
                <div class="tab-pane active" id="assignments">thissa assignments</div>
                <div class="tab-pane active" id="cats">thissa cats</div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}

{% bootstrap_javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="external/jquery.ui.core.min.js"></script>
<script type="text/javascript" src="external/jquery.ui.widget.min.js"></script>
<script type="text/javascript" src="js/jquery.integralui.widget.min.js"></script>
<script type="text/javascript" src="js/jquery.integralui.tabstrip.min.js"></script>
<!-- <script type="text/javascript" src="{% static 'js/units.js' %}"></script> -->
 {% endblock %} 