{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%if title%}

    <title>{{title}}</title>

    {%endif%}

    {% block styles %}
      {% bootstrap_css %}
    {% endblock %}

  </head>

  <body>

    {% block content %}
      {%endblock%}

      {% block scripts %}
        {% bootstrap_javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      {% endblock %}

    </body>

  </html>